// Define variables for your color scheme

// For example:
$red: #EDA495;
$blue: #A6DCDD;
$yellow: #FFE1A8;
$orange: #EA7464;
$green: #BFD7B5;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-primary: #0E0000;
$color-secondary:  #167FFB;
