<div class="container">
  <h1 class='text-center'>Confirmation of Booking</h1>
  <p class='text-center'>Venue: <strong><%= @booking.venue.name %></strong></p>
  <p class='text-center'>Start Date and Time: <strong><%= @booking.start %></strong></p>
  <p class='text-center'>End Date and Time: <strong><%= @booking.end %></strong></p>
  <p class='text-center'>Price per hour: <strong><%= @booking.venue.price %> $US</strong></p>
  <p class='text-center'>Total price: <strong>@booking.price $US</strong></p>
</div>
