<div class="col-6 col-md-4">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe width="600" height="249" id="gmap_canvas" src="https://maps.google.com/maps?q=buenos%20ares&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
      </div>
      <style>.mapouter{position:center;text-align:right;height:249px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:249px;width:600px;}
    </style>
  </div>
</div>
