<br>
<h1>Show</h1>
<br>
<div class="container">
<div class="card" style="width: 24rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1519226612673-73c0234437ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @venue.name %></h5>
    <p class="card-text"><%= @venue.description %></p>
    <a href="#" class="btn btn-primary"><%= @venue.location %><%= @venue.category %></a>
  </div>
  </div>
</div>


